input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  input[type=text]:focus {
    background-color: lightblue;
  }
input[name=score] {
    width: 10%;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing:border-box;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }


button[type=submit]{
    display:block

}

body {
    background-color: bisque;
    
}
.home {
    margin: auto;
    width: 50%;
    padding: 10px;
  }